:root {
    /* setting color scheme for site */
    --dark: #222831;
    --gray: #393E46;
    --contrast: #00ADB5;
    --light: #EEEEEE;

    /* general color of items */
    background: var(--dark);
    color: var(--contrast);
}

/* general header modifications */
h1, h2, h3, h4, h5 {
    color: var(--light);
    margin: 5px;
    text-align: center;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

/* header styling */
header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--light);
    background: var(--contrast);
}

header nav li {
    margin: 5px;
    float: left;
}

header a {
    color: var(--light)
}

header a:hover {
    color:var(--gray);
}

/* Main styling */
#about-me, #my-work, #contact {
    margin: 5px;
    padding: 5px;
    background-color: var(--gray);
}

#about-me img {
    float: left;
    margin: 5px;
    height: 100px;
}

#my-work ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#my-work li:not(#work-1 ) {
    margin: 5px;
    width:45%;
}

#my-work img {
    width: 100%;
}

#contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contact ul li {
    padding: 5px;
    border: 5px;
    border-style: dashed;
    border-color: var(--contrast);
    text-align: center;
    margin: 5px;
}

/* changed hyperlink color to help the eyes */
#contact a:visited, #contact a:link {
    color: rgb(0, 0, 168);
}